<ion-view title="Atualizar " id="page13" style="background-color: #038AD3">
  <ion-content padding="true" class="has-header">
    <div  class="list card">
      <form id="atualizar-form9" class="list">
        <label class="item item-input item-stacked-label" id="atualizar-input22">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="" ng-model="fono.nome">
        </label>
        <label class="item item-input item-stacked-label" id="atualizar-input23">
          <span class="input-label">CRFa</span>
          <input type="text" placeholder="" ng-model="fono.codigo">
        </label>
        <label class="item item-input item-stacked-label" id="atualizar-input24">
          <span class="input-label">Login</span>
          <input type="text" placeholder="" ng-model="fono.login">
        </label>
        <label class="item item-input item-stacked-label" id="atualizar-input25">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="" ng-model="fono.senha">
        </label>
        <label class="item item-input item-stacked-label" id="atualizar-input26">
          <span class="input-label">Rua</span>
          <input type="text" placeholder="" ng-model="fono.endereco.rua">
        </label>
        <label class="item item-input item-stacked-label" id="atualizar-input27">
          <span class="input-label">Bairro</span>
          <input type="text" placeholder="" ng-model="fono.endereco.bairro">
        </label>
        <label class="item item-input item-stacked-label" id="atualizar-input28">
          <span class="input-label">Cidade</span>
          <input type="text" placeholder="" ng-model="fono.endereco.cidade">
        </label>
        <label class="item item-input item-stacked-label" id="atualizar-input29">
          <span class="input-label">Telefone</span>
          <input type="tel" placeholder="" ng-model="fono.telefone">
        </label>
        <a ng-click="atualizarFono(fono)" id="atualizar-button12" class="button button-balanced button-block icon-right ion-archive">Salvar</a>
      </form>
    </div>
  </ion-content>
</ion-view>