<ion-view title="Cadastro" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="cadastro-form2" class="list">
      <ion-list id="cadastro-list5">
        <label class="item item-input" id="cadastro-input3">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastro-input6">
          <span class="input-label">Codigo</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastro-input4">
          <span class="input-label">Login</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastro-input5">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="cadastro-input7">
          <span class="input-label">Rua</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastro-input8">
          <span class="input-label">Bairro</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastro-input9">
          <span class="input-label">Cidade</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastro-input10">
          <span class="input-label">Telefone</span>
          <input type="tel" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="menu.login()" id="cadastro-button3" class="button button-balanced button-block icon-right ion-archive">Salvar</a>
    </form>
  </ion-content>
</ion-view>