<ion-view title="Cadastro Palavras" id="page10" style="background-color: #038AD3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="cadastroPalavras-card28">
      <form id="cadastroPalavras-form7" class="list">
        <label class="item item-input" id="cadastroPalavras-input21">
          <span class="input-label">Palavra</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="cadastroPalavras-select1">
          <span class="input-label">Nivel</span>
          <select>
            <option>Fácil</option>
            <option>Médio</option>
            <option>Dificíl</option>
          </select>
        </label>
        <div class="spacer" style="width: 300px; height: 59px;"></div>
        <button id="cadastroPalavras-button8" class="button button-balanced button-block">Salvar</button>
      </form>
    </div>
  </ion-content>
</ion-view>