<ion-view title="Inicio" id="page1" style="background-color: #038AD3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="inicio-card22">
      <div class="spacer" style="width: 300px; height: 55px;"></div>
      <h1 id="inicio-heading2" style="color:#000000;" align="center">Bem vindo, {{fono.nome}}</h1>
      <div id="inicio-markdown6" class="show-list-numbers-and-dots">
        <div class="spacer" style="width: 300px; height: 55px;"></div>
        <div align="center">
          <p style="color:#000000;">
            SysDislalia é sistema web com jogos em 2D, para auxiliar o
            fonoaudiólogo no tratamento de crianças com dislalia.
          </p>
          <div class="spacer" style="width: 300px; height: 55px;"></div>
          <p style="color:#000000;">
            O módulo do fonoaudiólogo, possibilita ao profissional fonoaudiólogo gerenciar sua conta e a dos
            seus pacientes, gerenciar as palavras dos seus pacientes por nível e gerar relatório com
            erros e acertos dos jogos.
          </p>
          <div class="spacer" style="width: 300px; height: 55px;"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>