<ion-view title="Login" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <div class="spacer" style="width: 300px; height: 66px;"></div>
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 40px;"></div>
      <a ui-sref="menu.inicio()" id="login-button1" class="button button-balanced button-block icon-right ion-arrow-right-c">Entrar</a>
      <a ui-sref="menu.cadastro()" id="login-button2" class="button button-positive button-block button-clear">Ou criar minha conta</a>
    </form>
  </ion-content>
</ion-view>