<ion-view title="Meus pacientes" id="page2" style="background-color: #038AD3">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.cadastroPaciente()" id="meusPacientes-button4" class="button button-balanced button-block icon-right ion-android-add">Cadastrar paciente</a>
    <form id="meusPacientes-form6" class="list">
      <label class="item item-input" id="meusPacientes-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="list card" id="meusPacientes-card25">
      <ion-list id="meusPacientes-list3" ng-repeat="paciente in fono.pacientes">
        <ion-item id="meusPacientes-list-item30" ui-sref="menu.paciente()">{{paciente.nome}}</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>