<ion-view title="Meus dados" id="page12" style="background-color: #038AD3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="meusDados-card210">
      <div class="row">
        <div class="col" align="left">
          <a ui-sref="menu.atualizar()" id="meusDados-button11" class="button button-positive">Editar</a>
        </div>
        <div class="col" align="right">
          <button id="meusDados-button10" ng-click="removerFono()" class="button button-assertive">Excluir</button>
        </div>
      </div>
      <div class="item">
        <a href="#" class="item item-icon-left">
          <i class="icon ion-android-contact"></i>
          Nome: {{fono.nome}}
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-person-stalker"></i>
          Código: {{fono.codigo}}
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-android-call"></i>
          Telefone: {{fono.telefone}}
        </a>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-at"></i>
          Login: {{fono.login}}
        </a>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-location"></i>
          Rua: {{fono.endereco.rua}}
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-navigate"></i>
          Bairro: {{fono.endereco.bairro}}
        </a>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-map"></i>
          Cidade: {{fono.endereco.cidade}}
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>