<ion-view title="Meus pacientes" id="page2" style="background-color: #038AD3">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.cadastroPaciente()" id="meusPacientes-button4"
      class="button button-balanced button-block">Cadastrar paciente</a>
    <form id="meusPacientes-form6" class="list">
      <label class="item item-input" id="meusPacientes-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="criterioDeBusca">
      </label>
    </form>
    <div class="list card" id="meusPacientes-card25" ng-if="fono.pacientes.length > 0">
      <ion-list id="meusPacientes-list3" ng-repeat="paciente in fono.pacientes | filter: criterioDeBusca ">
        <div class="row">
          <div class="col col-90">
            <ion-item id="meusPacientes-list-item30" href="#/side-menu21/paciente/{{paciente.id}}">{{paciente.nome}}
            </ion-item>
          </div>
          <div class="col">
              <a class="button button-icon icon ion-trash-b" style="color: #FE2E2E" ng-click="removerPaciente(paciente.id)"></a>
          </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>