<ion-view title="Paciente" id="page7" style="background-color: #038AD3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="paciente-card24">
      <h1 id="paciente-heading4" style="color:#000000;" align="center">Nome paciente</h1>
      <div id="paciente-markdown14" class="show-list-numbers-and-dots" align="center">
        <p style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacus eros, consequat non iaculis ut, finibus vitae velit. Maecenas et justo vel mi eleifend eleifend. Phasellus facilisis tellus ut magna fermentum, a malesuada sapien malesuada. Donec congue luctus nibh non mollis. Proin dui leo, commodo nec efficitur in, tempor at metus. Aenean a hendrerit sem, a volutpat erat. Etiam eget mollis lorem. Duis pretium faucibus tortor, convallis placerat libero auctor a. Proin ex velit, lacinia vel gravida sed, sollicitudin in augue. Aliquam eu tellus mollis, ultricies nibh a, faucibus turpis. Aenean placerat at augue nec imperdiet. Proin viverra nibh ac lorem viverra, vel feugiat dolor tristique. Mauris nulla elit, ultricies ornare mi ut, venenatis cursus eros.
        </p>
      </div>
      <div class="spacer" style="width: 300px; height: 55px;"></div>
      <div align="center">
          <a ui-sref="menu.partidas()" id="paciente-button6" class="button button-balanced">Ver partidas</a>
          <a ui-sref="menu.palavras()" id="paciente-button7" class="button button-balanced">Palavras</a>
      </div>
      <br/>
    </div>
  </ion-content>
</ion-view>