<ion-view title="Partida" id="page9" style="background-color: #038AD3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="partida-card27">
      <div class="item item-body" id="partida-list-item-container8">
        <div id="partida-markdown18" class="show-list-numbers-and-dots">
          <div class="list">
            <div class="item item-divider">
              Partida
            </div>
            <a class="item">
              Jogo: {{partida.jogo.nome}}
            </a>
            <a class="item">
              Tempo: {{partida.tempo}}
            </a>
            <a class="item" ng-if="partida.nivel == 'facil'">
              Nível: Fácil
            </a>
            <a class="item" ng-if="partida.nivel == 'medio'">
              Nível: Médio
            </a>
            <a class="item" ng-if="partida.nivel == 'dificil'">
              Nível: Dificíl
            </a>
          </div>
          <div class="list">
            <div class="item item-divider">
              Acertos
            </div>
            <a class="item" ng-repeat="acertos in partida.relatorio.acertos">
              {{acertos.palavra}}
            </a>
          </div>
          <div class="list">
              <div class="item item-divider">
                Erros
              </div>
              <a class="item" ng-repeat="erros in partida.relatorio.erros">
                {{erros.palavra}}
              </a>
            </div>
          <div>
            <canvas id="myChart" width="300" height="300">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>