<ion-view title="Sobre" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="sobre-heading3" style="color:#000000;">Sobre</h1>
    <div class="list card" id="sobre-card23">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
    <div id="sobre-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Informações do aplicativo</strong>
      </p>
    </div>
  </ion-content>
</ion-view>